* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input {
  outline: none;
}
input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
input:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
}
.btn {
  padding-inline: 25px;
  padding-block: 5px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
}
.btn-o {
  background-color: #ffffff;
  color: #222222;
  border: 1px groove #222222;
}
/*nav start*/
nav {
  padding-inline: 15px;
  padding-block: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px #000000;
  font-size: 20px;
}
nav .nav-title {
  width: 20%;
  color: #444444;
  font-weight: 600;
  font-size: 25px;
}

nav .nav-controls {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-controls a {
  color: #444444;
}
nav .nav-controls .search {
  width: 60%;
  border-radius: 10px;
  border: 1px groove #bbbbbb;
  padding-inline: 10px;
  padding-block: 5px;
  font-size: 15px;
}

nav .btn-group {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
/*nav end*/
/*hero start*/
#hero {
  height: 550px;
  position: relative;
  place-items: center;
  place-content: center;
}
#hero > .hero-content {
  position: absolute;
  color: #ffffff;
  width: 300px;
}
#hero::after {
  content: "";
  width: 100px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #111111;
}
#hero > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

/*hero end*/
/*most learned content start*/
#mlc {
  flex-direction: column;
  min-height: 400px;
  padding-block: 10px;
  padding-inline: 80px;
  margin-top: 20px;
}
#mlc > .title,
#testimonials .title {
  font-weight: 600;
  font-size: 30px;
}
#mlc .contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: inherit;
  margin-top: 10px;
}

#mlc > .contents .course {
  width: 350px;
  height: 350px;
  box-shadow: 1px 1px 2px #444444, -1px 0px 2px #444444;
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
}
#mlc > .contents .course > .course-image {
  width: 100%;
  height: 50%;
}
#mlc > .contents .course > .course-details {
  padding-inline: 7px;
  padding-block: 5px;
}
#mlc .course-price {
  margin-top: 3px;
}
#mlc .btn {
  margin-top: 10px;
  padding-block: 8px;
}
/*most learned content end*/
/*comments start*/
#testimonials {
  flex-direction: column;
  min-height: 400px;
  padding-block: 10px;
  padding-inline: 80px;
  margin-top: 20px;
}
#testimonials > .comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-top: 20px;
}
#testimonials > .comments > .comment {
  width: 350px;
  height: 300px;
  padding-inline: 20px;
  padding-block: 10px;
  box-shadow: 1px 1px 2px #444444, -1px 0px 2px #444444;
}
#testimonials > .comments > .comment > img {
  width: 30px;
}
#testimonials > .comments > .comment > .message {
  margin-top: 10px;
  font-size: 25px;
}
#testimonials > .comments > .comment > .recommendation {
  display: inline-block;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 100;
}
/*comments end*/
/*Brands start*/
#brands {
  min-height: 50px;
  padding-inline: 30px;
  padding-block: 10px;
}
#brands > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#brands > div > img {
  width: 80px;
}
/*Brands end*/
/*footer start*/
footer {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  background-image: linear-gradient(45deg, #333333, #222222, #111111);
  color: #ffffff;
  padding-inline: 15px;
  padding-block: 50px;
}
footer .footer-title {
  font-family: 900;
  font-size: 30px;
}
footer .socials {
  width: 400px;
  overflow: hidden;
  height: 50px;
  margin-top: 20px;
}

footer .socials > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: inherit;
  color: #ffffff;
  padding-inline: 20px;
}
footer img {
  width: 40px;
  background-color: #ffffff;
  object-fit: contain;
  border-radius: 10px;
}
footer .footer-about > h3,
footer .footer-legal > h3 {
  font-size: 40px;
  font-weight: 700;
}
footer .footer-about > ul,
footer .footer-legal > ul {
  margin-top: 10px;
}
footer .footer-about > ul > li > a,
footer .footer-legal > ul > li > a {
  color: #ffffff;
  font-size: 25px;
}
/*footer end*/
